* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }
    
section {
    display: flex;
    flex-direction: row;
}
img {
    width: 50px;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: width .1s ease-in-out;
}
img:hover {
    width: 400px;
}

.btm-btn {
position: relative;
background: #444;
color: #fff;
text-decoration: none;
text-transform: uppercase;
border: none;
letter-spacing: 0.1rem;
font-size: 1rem;
padding: 1rem 3rem;
transition: 0.2s;
}

.btm-btn:hover {
letter-spacing: 0.2rem;
padding: 1.1rem 3.1rem;
background: var(--clr);
color: var(--clr);
/* box-shadow: 0 0 35px var(--clr); */
animation: box 3s infinite;
}

.btm-btn::before {
content: "";
position: absolute;
inset: 2px;
background: #272822;
}

.btm-btn span {
position: relative;
z-index: 1;
}
.btm-btn i {
position: absolute;
inset: 0;
display: block;
}

.btm-btn i::before {
content: "";
position: absolute;
width: 10px;
height: 2px;
left: 80%;
top: -2px;
border: 2px solid var(--clr);
background: #272822;
transition: 0.2s;
}

.btm-btn:hover i::before {
width: 15px;
left: 20%;
animation: move 3s infinite;
}

.btm-btn i::after {
content: "";
position: absolute;
width: 10px;
height: 2px;
left: 20%;
bottom: -2px;
border: 2px solid var(--clr);
background: #272822;
transition: 0.2s;
}

.btm-btn:hover i::after {
width: 15px;
left: 80%;
animation: move 3s infinite;
}

@keyframes move {
0% {
transform: translateX(0);
}
50% {
transform: translateX(5px);
}
100% {
transform: translateX(0);
}
}

@keyframes box {
0% {
box-shadow: #27272c;
}
50% {
box-shadow: 0 0 25px var(--clr);
}
100% {
box-shadow: #27272c;
}
}
.color-button-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg ,red, orange, yellow, green, blue, indigo, violet, white);
    margin: 0;
    padding: 5px 10px;
}

.color-button {
    cursor: pointer;
    color: white;
}

.color-button:hover {
    background-color: white;
    transform: rotate(270deg);
    transition: transform 0.3s ease;
}
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}
#violet {
    background-color: violet;
}

#random {
    color: black;
    background: linear-gradient(90deg ,red, orange, yellow, green, blue, indigo, violet);
}
#random:hover {
    background: linear-gradient(90deg ,red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

#red:hover {
    color: red;
    background-color: white;
}
#orange:hover {
    color: orange;
    background-color: white;
}
#yellow:hover {
    color: yellow;
    background-color: white;
}
#green:hover {
    color: green;
    background-color: white;
}
#blue:hover {
    color: blue;
    background-color: white;
}

#indigo:hover {
    color: indigo;
    background-color: white;
}
#violet:hover {
    color: violet;
    background-color: white;
}

#rainbow {
    background: linear-gradient(90deg ,red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    animation-name: heading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes heading {
    0% {
        background: linear-gradient(90deg ,red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    15% {
        background: linear-gradient(90deg ,violet, red, orange, yellow, green, blue, indigo);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    30% {
        background: linear-gradient(90deg , indigo violet, red, orange, yellow, green, blue);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    45% {
        background: linear-gradient(90deg , blue, indigo violet, red, orange, yellow, green);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    60% {
        background: linear-gradient(90deg , green, blue, indigo violet, red, orange, yellow);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    85% {
        background: linear-gradient(90deg , yellow, green, blue, indigo violet, red, orange);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    100% {
        background: linear-gradient(90deg , orange, yellow, green, blue, indigo violet, red);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }

  }
